.login{
    justify-content: center;
    align-items: center;
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-self: center;
}

.select{
    margin: 5px;
}

a{
    color: black;
    font-style:normal;
    text-decoration: none;
}
